$font-primary: Arial, Helvetica, sans-serif;
$font-title: "Duepuntozero";
$wrapper: 1400px;
$container: 1000px;
$container-1: 300px;
$container-2: 700px;
$primary-color: #967c70;
$secondary-color: #2f231e;
$third-color: #e6e2df;
$fourth-color: #3b2c25;
$firth-color: #745459;
$sixth-color: #645a56;
$seventh-color: #7f6357;
$eightth-color: #89451f;
$nineth-color: #6c535a;
$tenth-color: #ebe7e4; 
