@import "reset";
@import "variables";
@import "contact";
@import "configs";

html {
  font-size: 62.5%; // 1rem = 1px;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
body {
  position: relative;
  font-family: $font-primary;
}
//144rem, 100rem
.wrapper {
  max-width: 140rem;
  margin: 0 auto;
}
.container {
  margin: 0 auto;
  max-width: 100rem;
}
//header section
.header {
  z-index: 1;
  height: 5rem;
  position: relative;
  background-color: #251b17;
  &-inner {
    background-color: #251b17;
    height: 5rem;
    line-height: 4rem;
  }
  &-menu {
    display: flex;
    align-items: center;
    position: absolute;
    top: 88%;
    left: 51.4%;
    height: 5rem;
    max-width: 50rem;
    min-width: 44.3rem;
    @include mobile {
      display: none;
    }
    @include big-mobile {
      display: none;
    }
    @include tablet {
      text-align: center;
      left: 26%;
    }

    .item-home {
      margin-left: 0;
      a {
        img:hover {
          transform: scale(1.5);
        }
        p {
          margin-left: 0.7rem;
        }
      }
    }
    .item-work {
      margin-left: 9.7rem;
      a {
        img:hover {
          transform: scale(1.5);
        }
        p {
          margin-left: 0.3rem;
        }
      }
    }
    .item-about {
      margin-left: 9.1rem;
      a {
        img:hover {
          transform: scale(1.5);
        }
        p {
          margin-left: -0.1rem;
        }
      }
    }
    .item-contact {
      margin-left: 9.3rem;
      margin-top: 0rem;
      line-height: 2.5rem;
      a {
        img:hover {
          transform: scale(1.5);
        }
        img {
          margin-top: 0rem;
        }
        p {
          margin-left: -0.7rem;
          margin-top: 0.4rem;
        }
      }
    }
  }
  &-menu li a {
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: $primary-color;
    @include mobile {
      justify-items: center;
    }
    @include big-mobile {
      justify-items: center;
    }
    @include tablet {
      justify-items: center;
    }
  }
  .lamp {
    position: absolute;
    left: 46.5%;
    @include mobile {
      display: none;
    }
    @include big-mobile {
      display: none;
    }
    @include tablet {
      left: 19.5%;
    }
  }
  .box {
    position: absolute;
    left: 10.3%;
    top: 0%;
    z-index: 999;
    @include mobile {
      display: none;
    }
    @include big-mobile {
      display: none;
    }
    @include tablet {
      display: none;
    }
  }
}

// NAV MOBILE
.nav-bars-btn {
  .fa-bars {
    position: absolute;
    color: white;
    z-index: 999;
    left: 86%;
    top: 5%;
    font-size: 2rem;
    @include mobile {
    }
    @include big-mobile {
    }
    @include tablet {
      display: none;
    }
    @include desktop {
      display: none;
    }
  }
}
.nav-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 998;
  display: none;
  animation: fadeIn linear 0.2s;
}
.nav-mobile {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 320px;
  max-width: 100%;
  background-color: #fff;
  z-index: 999;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform linear 0.2s, opacity linear 0.2s;
  padding-left: 14px;
}
.nav-mobile-list {
  margin-top: 24px;
  line-height: 20px;
}
.nav-mobile-link {
  text-decoration: none;
  color: #a37a7e;
  display: block;
  padding: 8px 0;
  font-size: 2.4rem;
  font-family: Arial, Helvetica, sans-serif;
}
.nav-mobile-link:hover{
  color: brown;
}
.nav-mobile-close {
  width: 2.4rem;
  height: 2.4rem;
  font-size: 2.4rem;
  color: #666;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
.fa-times {
  width: 24px;
  height: 24px;
}
.nav-input {
  display: none;
}
.nav-input:checked ~ .nav-overlay {
  display: block;
}
.nav-input:checked ~ .nav-mobile {
  transform: translateX(0%);
  opacity: 1;
}
@media (max-width: 1023px) {
  .nav-bars-btn {
    display: block;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

//banner section
.banner {
  position: relative;
  margin: 0 auto;
  height: 21.5rem;
  background-color: $fourth-color;
  &-inner {
    border: 1px solid #76584a;
    margin: 0 auto;
    background-color: $secondary-color;
    height: 21.5rem;
    display: flex;
    @include mobile {
      justify-content: center;
    }
    @include big-mobile {
      justify-content: center;
    }
    @include tablet {
      justify-content: center;
    }
  }
  #banner-image {
    position: relative;
    top: -225px;
    left: -15%;
    z-index: 2;
  }
  #banner-logo {
    width: 350px;
    margin-right: 20px;
    margin-top: 10px;
    @include mobile {
      display: none;
    }
    @include big-mobile {
      display: none;
    }
    @include tablet {
      display: none;
    }
  }
  #banner-title {
    flex: 1;
    background: url("/assets/images/Light-BOX.png") no-repeat;
    background-size: contain;
    // width: 124px;
    height: 95px;
    margin: 78px 0 0 165px;
    position: relative;
    text-indent: -9999px;
    top: 0px;
    z-index: 10;
  }
  &-detail {
    position: absolute;
    width: 40%;
    left: 39.1%;
    top: 45.9%;
    @include mobile {
      display: flex;
      justify-content: center;
      align-items: center;
      position: static;
      width: 100%;
      text-align: center;
    }
    @include big-mobile {
      display: flex;
      justify-content: center;
      align-items: center;
      position: static;
      width: 100%;
      text-align: center;
    }
    @include tablet {
      display: flex;
      justify-content: center;
      align-items: center;
      position: static;
      width: 100%;
      text-align: center;
    }
  }
  &-desc {
    font-size: 1.8rem;
    color: $primary-color;
    line-height: 2.45rem;
    font-family: "Helvetica";
    @include mobile {
    }
    @include big-mobile {
    }
    @include tablet {
    }
  }
  &-link {
    color: white;
    cursor: pointer;
  }
}
@media screen and (min-width: 1400px) and (max-width: 1700px)  {
  .banner-detail {
    left: 40%;
  }
}
@media screen and (min-width: 1700px) and (max-width: 1900px)  {
  .banner-detail {
    left: 42%;
  }
}
@media screen and (min-width: 1900px) and (max-width: 2700px)  {
  .banner-detail {
    left: 44%;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1109px)  {
  .banner-detail {
    width: 45%;
  }
}

//banner2
.banner2 {
  height: 60rem;
  margin: 0 auto;
  background-color: #edeae8;
  &-inner {
    height: 60rem;
    display: flex;
    margin: 0 auto;
    background-color: white;
    @include mobile {
      justify-content: center;
    }
    @include big-mobile {
      justify-content: center;
    }
    @include tablet {
      justify-content: center;
    }
  }

  //column 1
  &-column1 {
    width: 35%;
    height: 60rem;
    @include mobile {
      display: none;
    }
    @include big-mobile {
      display: none;
    }
    @include tablet {
      display: none;
    }
  }
  //column2
  &-column2 {
    min-width: 35rem;
    width: 35%;
    height: 60rem;
    @include mobile {
      text-align: center;
      min-width: 27.5rem;
    }
  }
  &-title-small1 img {
    width: 2.7rem;
    height: 3.8rem;
    margin-left: 3rem;
    @include mobile {
      display: none;
    }
  }
  &-title-small2 img {
    width: 3.4rem;
    height: 3.8rem;
    margin-left: 2.3rem;
    @include mobile {
      display: none;
    }
  }
  &-title-small3 img {
    width: 3.5rem;
    height: 3.5rem;
    margin-left: 2.4rem;
    margin-top: 0.6rem;
    @include mobile {
      display: none;
    }
  }
  &-column2 h2 {
    font-size: 4.1rem;
    font-family: "Duepuntozero";
    color: $secondary-color;
    margin-top: 4.1rem;
    margin-left: 2.2rem;
  }
  &-title-small1 {
    display: flex;
    align-items: center;
    @include mobile {
      justify-content: center;
    }
    h3 {
      font-size: 3rem;
      font-family: "Duepuntozero";
      margin-left: 1.8rem;
      color: $firth-color;
      letter-spacing: -0.2px;
    }
  }
  &-title-small2 {
    display: flex;
    align-items: center;
    @include mobile {
      justify-content: center;
    }
    h3 {
      font-size: 3rem;
      font-family: "Duepuntozero";
      margin-left: 1.8rem;
      color: $firth-color;
      letter-spacing: -0.3px;
    }
  }
  &-title-small3 {
    display: flex;
    align-items: center;
    @include mobile {
      justify-content: center;
    }
    h3 {
      font-size: 3rem;
      font-family: "Duepuntozero";
      margin-left: 1.6rem;
      margin-bottom: 0.4rem;
      color: #745459;
      letter-spacing: -0.3px;
    }
  }
  &-detail1 {
    .banner2-desc {
      margin-top: 0.6rem;
      font-family: Arial, Helvetica, sans-serif;
      padding-left: 7.6rem;
      font-size: 1.3rem;
      line-height: 2rem;
      color: $sixth-color;
      @include mobile {
        padding-left: 0;
      }
    }
  }
  &-detail2 {
    margin-top: 2.8rem;
    .banner2-desc {
      margin-top: 0.6rem;
      font-family: Arial, Helvetica, sans-serif;
      padding-left: 7.6rem;
      font-size: 1.3rem;
      line-height: 2rem;
      color: $sixth-color;
      @include mobile {
        padding-left: 0;
      }
    }
  }
  &-detail3 {
    margin-top: 2.7rem;
    .banner2-desc {
      margin-top: 0.6rem;
      font-family: Arial, Helvetica, sans-serif;
      padding-left: 7.6rem;
      font-size: 1.3rem;
      line-height: 1.9rem;
      color: $sixth-color;
      @include mobile {
        padding-left: 0;
      }
    }
  }
  // column 3
  &-column3 {
    width: 35%;
    height: 60rem;
    position: relative;
    @include mobile {
      display: none;
    }
    @include big-mobile {
      display: none;
    }
  }
  &-column3-mess {
    position: absolute;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 2rem;
    color: #7f6357;
    padding: 6rem 6rem;
    font-style: italic;
    line-height: 2.7rem;
    z-index: 86;
    margin-left: 0.7rem;
    margin-top: 0.2rem;
    min-width: 32rem;
  }
  &-column3-author {
    position: absolute;
    top: 81.8%;
    left: 51%;
    font-size: 1.4rem;
    font-weight: 800;
  }
  &-column3-link {
    color: $eightth-color;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1rem;
    text-transform: uppercase;
  }
  .line {
    height: 1px;
    color: $secondary-color;
    margin-top: 1.8rem;
  }
  .rectangle {
    background-color: #ebe7e4;
    opacity: 0.402;
    position: absolute;
    left: 12%;
    top: 5.7%;
    width: 70%;
    height: 41.3rem;
    z-index: 85;
    min-width: 24.8rem;
  }
  .triangle-topright {
    position: absolute;
    opacity: 0.402;
    left: 68%;
    top: 74%;
    width: 0;
    height: 0px;
    border-top: 3.4rem solid #ebe7e4;
    border-left: 3.2rem solid transparent;
  }
  &-detail1 {
    margin-top: 3.5rem;
  }
  &-detail2 {
    margin-top: 3rem;
  }
  &-detail3 {
    margin-top: 2.5rem;
  }
}
//banner3
.banner3 {
  margin: 0 auto;
  height: 54rem;
  background-color: #edeae8;
  &-inner {
    margin: 0 auto;
    display: flex;
    background-color: white;
    height: 54rem;
    @include mobile {
      justify-content: center;
    }
    @include big-mobile {
      justify-content: center;
    }
    @include tablet {
      justify-content: center;
    }
  }
  &-column1 {
    width: 35%;
    @include mobile {
      display: none;
    }
    @include big-mobile {
      display: none;
    }
    @include tablet {
      display: none;
    }
  }
  &-column2 {
    width: 65%;
    .new2 {
      width: 83%;
    }
  }
  &-column2-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2.6rem;
    @include mobile {
      flex-direction: column;
    }
    @include big-mobile {
      flex-direction: column;
    }
  }
  h2 {
    font-size: 4rem;
    font-family: "Duepuntozero";
    color: $secondary-color;
    min-width: 199px;
  }
  &-nav {
    margin-right: 3.7rem;
    margin-top: -0.6rem;
    @include mobile {
      margin-right: -0.3rem;
      margin-top: 1.4rem;
    }
    @include big-mobile {
      margin-top: 10px; ;
    }
  }
  &-list {
    display: flex;
  }
  &-link {
    height: 2.3rem;
    width: 2.1rem;
    background-color: $nineth-color;
    border-radius: 50%;
    font-size: 1.5rem;
    text-align: center;
    padding: 4px;
    margin-right: 0.9rem;
    &:hover{
      background-color: #a37a7e;
    }
    &:active{
      background-color: thistle;
    }
    a {
      text-decoration: none;
      color: white;
    }
  }
  &-list li:first-child {
    background-color: #a37a7e;
  }
  &-list li:last-child {
    margin-right: 0rem;
  }

  &-column2 img {
    margin-top: 2rem;
    width: 95%;
    padding: 1.3rem;
    border: 1px solid #a37a7e;
  }
  &-note {
    font-size: 1.3rem;
    margin-left: 36%;
    font-style: italic;
    margin-top: 1.2rem;
    @include mobile {
      margin-left: 0%;
    }
  }
  &-important-note {
    color: #4e4d4d;
    font-style: italic;
    font-weight: bold;
  }
}

//footer
.footer {
  height: 9.1rem;
  background-color: #3b2c25;
  margin: 0 auto;
  &-inner {
    height: 9.1rem;
    margin: 0 auto;
    display: flex;
    background-color: #32251f;
  }
  &-logo {
    margin-left: -4.4rem;
    margin-top: -1.2rem;
  }
  &-column1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35.5%;
    background-color: #291e18;
    border-left: 1px solid #48362d;
    border-right: 1px solid #48362d;
    height: 8.9rem;
    @include mobile {
      display: none;
    }
  }
  &-column2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 66%;
    height: 9.1rem;
    @include mobile {
      flex-direction: column;
      width: 100%;
    }
    @include big-mobile {
      flex-direction: column;
    }
  }
  &-column2-detail1 {
    width: 50%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    text-transform: uppercase;
    @include mobile {
      width: 100%;
    }
    @include big-mobile {
      width: 100%;
    }
  }
  &-column2-detail1 p {
    margin-left: 3.2rem;
    margin-top: 0.3rem;
    font-weight: 700;
    padding-right: 1px;
  }
  &-column2-detail1 span {
    color: #a68a7d;
  }
  &-column2-detail2 {
    width: 50%;
    text-transform: uppercase;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    @include mobile {
      width: 100%;
    }
    @include big-mobile {
      width: 100%;
    }
  }
  &-column2-detail2 span {
    color: #a68a7d;
  }
  &-column2-detail2 p {
    font-size: 1.1rem;
    margin-left: 6.5rem;
    margin-top: 6px;
    font-weight: 700;
    @include mobile {
      margin-left: 3.1rem;
    }
    @include big-mobile {
      margin-left: 3.1rem;
    }
  }
}
